* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #001216;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1020px;
    margin: 0 auto;
    padding-top: 46px;
}

.heder {
    font-family: Roboto, sans-serif;
    height: 61px;
}

.info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    cursor: pointer;
}

svg {
    width: 53px;
    height: 47px;
    fill: #F26522;
}

svg:hover {
    fill: #F26522;
}

.text {
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    padding-left: 8px;
    width: 140px;
    color: white;
}

.text:hover {
    color: #F26522;
}

.letter {
    font-size: 29px;

}

.mail:hover {
    color: #F26522;
}

.fon {
    padding-top: 19px;
    text-align: end;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #F26522;
}

.fon:hover {
    color: #F26522;
}

.wrapper-box {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    display: flex;
    padding-top: 22px;
}

.grid {
    display: grid;
    height: 560px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 37px;
    column-gap: 60px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.img {
    width: 300px;
    height: 220px;
    background-color: #001216;
    position: relative;
    overflow: hidden;
}

.img-1 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}

.description {
    font-size: 18px;
    color: #FFFFFF;
}

.hidden-block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px 12px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: bottom .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 10px;
    line-height: 10px;
    color: white;
}

.amount {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.arrow {
    display: flex;
    gap: 16px;
}

.details {
    font-size: 14px;
    color: white;
}

.details::after {
    content: url("../img/Vector 1.png");
    padding-left: 16px;
}

.item:hover .hidden-block {
    bottom: 0;
}

.description:hover {
    cursor: pointer;
    color: #F26522;
}

.img-2 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}

.img-3 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}

.img-4 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}

.img-5 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}

.img-6 {
    width: 300px;
    height: 220px;
    cursor: pointer;
}


.footer {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 49px;
}

.copyright {
   color: white;
}